/* Color */
:root {
  --secondary: #f39a00;
  --white: #ffffff;
  --fontColor: #212121;
}

/* Font Family */
@font-face {
  font-family: poppinsM;
  src: url(../Assets/Fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: interM;
  src: url(../Assets/Fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: interSemi;
  src: url(../Assets/Fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: interR;
  src: url(../Assets/Fonts/Inter-Regular.ttf);
}

/* Remove html and body default style */
body {
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden;
}

/* HomePage */
.logoimage img {
  width: 210px;
  height: 93px;
}

.header {
  background-color: #F2F3F7;
}

.nav-item a {
  font-family: poppinsM;
  font-size: 14px;
  color: #000000 !important;
}

.p-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.padl_5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.abs a {
  font-family: interR;
  font-size: 16px;
  margin: 0px;
  text-decoration: none;
  color: #333333;
}

.top_nav img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}


.abs {
  position: absolute;
  width: 98%;
  top: 20px;
  z-index: 999;

}

.container {
  position: relative;
}


.imgCarousel img {
  position: relative;
}

.txt {
  position: absolute;
  top: 162px;
  left: 34%;
  text-align: center;
  width: 36%;
}

.txt h2 {
  color: #cdcdcd;
  font-size: 32px;
}

.txt h1 {
  color: var(--white);
  font-size: 60px;
  letter-spacing: 2%;
  margin-top: 20px;
  text-transform: uppercase;
}

.btn-contact {
  background-color: var(--secondary);
  font-size: 16px !important;
  color: var(--white) !important;
  padding: 16px 32px;
  border-radius: 0px;
  border: none !important;
  margin-top: 50px;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  max-height: 640px;
  object-fit: cover;
}

nav {
  align-items: flex-end !important;
}

.pdt-70 {
  padding-top: 70px;
}

.ourServices {
  background-color: #f2f3f7;
}

.ourServices h1 {
  font-size: 48px;
  margin: 0px;
  font-family: poppinsM;
}

.title span {
  border-color: #f39a00;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  display: inline-block;
  font-size: 30px;
  padding: 0px 70px;
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}

.serviceContet {
  text-align: center;
}

.serviceContet h5 {
  text-align: center;
  font-size: 16px;
  font-family: interSemi;
}

.serviceContet img {
  height: 72px;
  height: 72px;
  object-fit: contain;
  margin-bottom: 20px;
}

.mb-70 {
  padding-bottom: 70px;
}

.softwareBg {
  background: radial-gradient(266.7% 359.47% at 8.39% 13.38%,
      #1a2737 3.61%,
      #0097dc 99.07%);
  transform: rotate(-180deg);
}

.reverseTrans {
  transform: rotate(-180deg);
}

.softHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.softTxt h5 {
  font-family: interM;
  font-size: 48px;
  color: var(--white);
  margin: 0px !important;
}

.softTxt span {
  border-color: #f39a00;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  display: inline-block;
  font-size: 30px;
  padding: 0px 70px;
  text-align: center;
}

.btn-softsee {
  font-size: 16px;
  background-color: var(--white);
  color: var(--fontColor);
  padding: 16px 32px;
  font-family: interM;
  vertical-align: middle;
  border-radius: 0px !important;
}

.pd-70 {
  padding-top: 70px;
}

.softwareMain img {
  width: 100%;
  height: 219px;
  object-fit: cover;
}

.softwareMain h5 {
  font-family: interM;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  margin-top: 12px;
}

.softwareMain p {
  font-family: interR;
  font-size: 13px;
  line-height: 28px;
  margin-top: 12px;
  color: #e4e4e4;
}

.mt-40 {
  margin-top: 40px;
}

.pb-70 {
  padding-bottom: 70px;
}

.smartLight {
  background-color: #f2f3f7;
}

.smartContent {
  padding-top: 83px;
}

.smartContent h1 {
  font-family: interM;
  font-size: 48px;
  letter-spacing: 4%;
}

.smartContent p {
  font-family: interR;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
}

.smartContent span {
  border-color: #f39a00;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  display: inline-block;
  font-size: 30px;
  padding: 0px 70px;
  text-align: center;
}

.smartcontentImg img {
  width: 570px;
  height: 570px;
  object-fit: cover;
}

.slider .owl-theme .owl-dots .owl-dot span {
  display: none;
}

.slider .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  display: none;
}

.slider {
  padding: 62px 30px;
}

.footer {
  background: radial-gradient(266.7% 359.47% at 8.39% 13.38%,
      #1a2737 3.61%,
      #0097dc 99.07%);
}

.footerContent {
  padding-top: 96px;
}

.firstcol img {
  width: 136px;
  height: 60px;
  object-fit: contain;
}

.firstcol p {
  font-family: interR;
  font-size: 15px;
  margin-top: 24px;
  color: #DBDBDB;
}

.secondcol {
  margin-top: 27px;
}

.secondcol h5 {
  font-size: 20px;
  font-family: interSEmi;
  margin-bottom: 33px;
  color: var(--white);
}

.secondcol h6 {
  font-size: 15px;
  font-family: interSEmi;
  margin-bottom: 8px;
  color: var(--white);
}

.secondcol p {
  font-size: 12px;
  font-family: inter;
  color: #DBDBDB;
  /*color: var(--white);*/
  line-height: 22px;
}

.mt-24 {
  margin-top: 24px;
}

.secondcol input {
  width: 90%;
  height: 50px;
  padding: 14px 21px;
  font-family: interR;
  font-size: 16px;
  margin-top: 36px;
}

.btn-subscribe {
  width: 90%;
  /* height: 50px; */
  padding: 14px 30px;
  font-family: interM;
  font-size: 18px;
  margin-top: 36px;
  background-color: var(--secondary);
  color: var(--white);
}

.gallery {
  display: flex;
  width: 100%;


}

.grid-item {
  width: 50%;
}

.grid-item img {
  width: 100%;
  height: 84px;
  object-fit: cover;
}

.socialIcon img {
  width: 65%;

}

.hr {
  border-bottom: 1px solid #C4C4C4;

}

.coyright {
  text-align: center;
  font-family: interR;
  font-size: 15px;
  margin-top: 22px;
  padding-bottom: 22px;
  color: white;
}

.pb-17 {
  padding-bottom: 17px;
}

#navbarNav ul {
  margin-left: auto !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2.5rem;
  padding-right: 0.5rem;
}

/* container */
@media (min-width: 1900px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1492px;
  }


}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
  align-items: flex-end !important;
}

.txt_black h2 {
  text-shadow: 2px 2px 7px black;
  color: white !important;
}

.txt_black h1 {
  text-shadow: 2px 2px 7px black;
}

.slider .owl-carousel .owl-item img {
  display: block;
  width: 75%;
}
.dropdown-menu {
border: none !important;
}


.dropdown-menu a {
  font-family: interR;
  padding: 15px 20px !important;
  font-size: 14px;
}

.underContractionPage {
  background-image: url(../Assets/Images/banner1.png);

  display: flex;
  flex-direction: column;
  height: 450px;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.underContractionPage h2 {
  color: #CDCDCD;
  font-family: interM;
  font-size: 32px;
}

.underContractionPage h1 {
  color: white;
  font-family: interSemi;
  font-size: 60px;
  margin-top: 20px;
}



/* Partners */
.smartParter span {
  border-color: #f39a00;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  display: inline-block;
  font-size: 30px;
  padding: 0px 70px;
  text-align: center;
}
.smartParter{
  margin-top: 40px;
}


.singlePartner {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.singlePartner{
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height:158px;
  position: relative;
  object-fit: cover;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
 
}

.singlePartner img {
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background:radial-gradient(266.7% 359.47% at 8.39% 13.38%, #1a2737 3.61%, #0097dc 99.07%);
}
.icon {
  color: white !important;
  font-size:30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-link:hover {
  color: #eee;
  z-index: 9999;
  transform: scale(1.3);
}

.singlePartner:hover .overlay {

transition: 0.5s;
  opacity: .9;
}

.singleProjects{
  position: relative;
  /* display: flex; */
  margin-top:25px;
  padding: 10px;
  background-color: #F6F6F6;
  border-radius: 8px;

}
/* .singlePimg{
  flex: 30%;
} */
.singlePimg img{
  width: 100%;
  height: 230px;
  object-fit:cover;
}
/* .singlePcon{
  flex: 60%;
  padding-left:30px;
}
*/
.goDetails{
 
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
} 

.singlePcon h1{
 font-size: 22px;
 font-family: interSemi;

}
.singlePcon h2{
  font-size:18px;
  font-family: interM;
  margin-top: 15px;
  text-align: justify;
 }
 .singlePcon p{
  font-size:15px;
  font-family: interR;
  margin-top:15px;
  text-align: justify;
 }
 .fa-arrow-alt-circle-right{
   font-size: 50px;
   cursor: pointer;

 }
 .fa-arrow-alt-circle-right:hover{
  transform: translate(20px, 0px);
  border-radius: 50%;
  color: #0097dc;
  transition-duration: 1s;
}
nav ul{
  padding: 0px !important;
margin: 0px !important;
}
nav ul li{

  position: relative;
  list-style: none;
  display: inline-block;
  font-family: interR;
  font-size: 14px;
}
nav ul li a{
  display: block;
  padding: 0 15px;
  text-decoration: none;
  line-height: 50px;
  font-family: interR;
  font-size: 20px;
 align-items: center;
}

nav ul li ul {
  position: absolute;
  top: 60px;
  display: none;
}

nav ul li:hover >ul{
  display: block;
  background-color:white;
  z-index: 99999;

}
nav ul ul li{
  width:340px;
  float: none;
  display: list-item;
  position: relative;
}
nav ul ul ul{
  position: absolute;
  top:15px;
  left:340px;
}
.navh:hover{
  background-color: #e9ecef !important;
}
.mtR .fa{
  margin-top: -5px !important;
}

.fa-sort-down{
font-size:14px;
margin-top: -5px!important;
}

.dib img{
  width: 14px;
  height: 14px;
}








